@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sucesso Envio";
}

<div id="engbcontato">
    <div id="contentcontato">
        <div id="divacontato">
            <h2 class="tct">Formulário enviado com sucesso!  </h2>
            <p class="sucessocontato">Em breve nossa equipe entrará em contato.</p>
        </div>
    </div>
</div>