<div id="totalfooter">
    <div id="widgetsfooter">
        <div id="widsobre" class="wids">
            <p class="tituloswd">O Clube Conteza Mudou! </p>
            <img src="~/Content/img/fav.png" /><p class="wid">O Clube Conteza é o clube de quem busca benefícios, vantagens e descontos na hora de comprar e pagar. São lojas, restaurantes, postos de combustível, supermercados, instituições de ensino, clínicas médicas, odontológicas, laboratórios e incontáveis benefícios que só associados do Clube Conteza têm em Guarapuava e região.  </p>
        </div>
        <div id="wdmenu1" class="wids">
            <p class="tituloswd">Clube Conteza</p>
            <ul class="menuwidsitens">
                <li>@Html.ActionLink("Conheça o Clube", "Index", "ClubeConteza")</li>
                <li>@Html.ActionLink("Descontos e Promoções", "Index", "DescontoPromocao")</li>
                <li>@Html.ActionLink("Seja um Parceiro", "Index", "SejaParceiro")</li>
            </ul>
        </div>
        <div id="wdmenu2" class="wids">
            <p class="tituloswd">Dúvidas?</p>
            <ul class="menuwidsitens">
                <li><a href="#">Regulamento</a></li>
                <li><a href="#">Termos de Uso</a></li>
                <li><a href="#">Planos de Adesão</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div id="wdmenu3" class="wids">
            <p class="tituloswd">Vantagens</p>
            <ul class="menuwidsitens">
                <li><a href="#">Vantagens</a></li>
                <li><a href="#">Comércio</a></li>
                <li><a href="#">Profissional Liberal</a></li>
                <li><a href="#">Planos Corporativos</a></li>
            </ul>
        </div>
    </div>
    <div id="footer"><h2 class="footer">Clube Conteza 2018</h2></div>
</div>