@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conheça o Clube";
}

<div id="corpo" class="corpo">
    @Html.Partial("_BannerSection")
    <div id="engsobre">
        <div id="sobreoclubemvc">
            <p class="oclubews">
                <strong class="headingws"> Quem tem Clube Conteza <br /> só tem vantagens</strong>

                <br /><br /><strong>Um clube de benefícios onde você encontra promoções, descontos e muito mais.</strong></br></br>


                O Clube Conteza é o clube de quem busca benefícios, vantagens e descontos na hora de comprar e pagar. São lojas, restaurantes, postos de combustível, supermercados, instituições de ensino, clínicas médicas, odontológicas, laboratórios e incontáveis benefícios que só associados do Clube Conteza têm em Guarapuava e região. 


                <br /><br /><strong align="center">Tudo isso por uma mensalidade que com certeza cabe no seu bolso.</strong>
            </p>
        </div>
        <div id="ContentSobreMvc">
            <div id="engbtree">
                <div id="comof" class="contentssb">
                    <p class="titssobre">Como Funciona?</p>
                    <img src="~/Content/img/sprite1.png" /> <p>Cadastre-se pelo site ou em nossa sede e tenha acesso à ofertas, compre com preços e condições especiais nos parceiros e tenha descontos nos serviços de saúde.</p>
                </div>
                <div id="vantagens" class="contentssb">
                    <p class="titssobre">Vantagens</p>
                    <img src="~/Content/img/sprite2.png" /> <p>Agora, além de facilidades na área da saúde, você tem vantagens em todas as suas compras nos nossos parceiros. Saiba quais são as promoções, descontos ou condições especiais de pagamento e aproveite.</p>
                </div>
                <div id="planos" class="contentssb">
                    <p class="titssobre">Planos</p>
                    <img src="~/Content/img/sprite3.png" /> <p>Não importa o tamanho da sua família, nós temos um plano ideal para você. Conheça nossos planos e descubra as vantagens de ser um associado do Clube Conteza.</p>
                </div>
            </div>
        </div>
    </div>
</div>