@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clube Conteza</title>
</head>
<body>
    <center>
        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/HotSite/hot_site_2.png")"></a>
    </center>
</body>
</html>